.main-header {
  padding-top: 158px;
  background-image: url("../img/sedona.svg"),
    url("../img/slice-greetings.svg"),
    url("../img/mountains-background-form.jpg");
  background-repeat: no-repeat;
  background-position: top 52px center,
    top 101px center,
    top -56px center;
}

.main-header__title {
  font-size: 18px;
  line-height: 26px;
  text-align: center;
}

.main-header__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: $black-100;
  text-align: center;
}
