.button {
  display: inline-block;
  color: $white-100;
  background-color: $blue-100;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  font-weight: 700;
  border: 0;
  cursor: pointer;

  &:hover {
    background-color: $blue-200;
  }

  &:active {
    color: transparentize($white-100, 0.7);
    background-color: $blue-300;
  }

  &:disabled {
    background-color: $gray-200;
    color: $white-100;
  }
}
