.causes__slogan {
  text-align: center;
  margin: 33px 27px 30px 25px;


  br {
    display: none;
  }

  @media (min-width: $tablet-width) {
    max-width: 520px;
    font-size: 21px;
    line-height: 26px;
    margin: 45px auto 30px auto;

    br {
      display: block;
    }
  }

  @media (min-width: $desktop-width) {
    margin-top: 56px;
    padding-right: 2px;
  }
}

.causes__desc {
  margin: 0;
  color: $black-100;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 33px;
  margin-right: 20px;
  margin-left: 20px;

  @media (min-width: $tablet-width) {
    max-width: 520px;
    margin-bottom: 53px;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 42px;
  }
}

.causes__list {
  list-style: none;
  margin: 0;
  padding: 0;
  counter-reset: causes;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.causes__wrapper {
  &--top {
    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: 1fr 2fr;
    }
  }

  &--bottom {
    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: 2fr 1fr;
    }
  }
}

.causes__inner {
  background-color: $blue-100;
  display: grid;


  &::before {
    text-align: center;
    color: $white-100;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    content: "— №" counter(causes) "—";
  }
}

.causes__inner--top {
  background-image: url("../../img/triangle-cause.svg");

  background-repeat: no-repeat;
  background-position: top -21px center;
  padding: 50px 10px 39px 10px;

  @media (min-width: $tablet-width) {
    background-image: none;
    padding: 40px 32px 43px 32px;
  }

  @media (min-width: $desktop-width) {
    padding: 48px 52px 56px 52px;
  }
}

.causes__inner--bottom {
  min-height: 191px;
  padding: 39px 15px 35px 15px;

  @media (min-width: $tablet-width) {
    order: 2;
    padding: 43px 36px 41px 36px;
  }

  @media (min-width: $desktop-width) {
    padding: 51px 73px 52px 73px;
  }
}

.causes__img {
  display: block;
  background-color: $gray-100;
  width: 800px;
  object-fit: cover;
  height: 260px;


  @media (min-width: $tablet-width) {
    min-height: 256px;
    height: 100%;
  }
}

.causes__title {
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  padding: 0;
  text-align: center;
  order: -1;
  margin-bottom: 12px;

  br {
    display: none;
  }

  @media (min-width: $tablet-width) {
    font-size: 21px;
    line-height: 26px;

    br {
      display: block;
    }
  }
}

.causes__title--changed {
  color: $white-100;
}

.causes__text {
  color: $black-100;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  text-align: center;
  margin-top: 16px;

  @media (min-width: $tablet-width) {
    margin-top: 23px;
  }

  &--changed {
    color: $white-100;
    margin-right: 0;
    margin-left: 0;

    @media (min-width: $desktop-width) {
      margin-top: 22px;
      margin-right: 10px;
      margin-left: 10px;
    }
  }
}

.causes__item:nth-of-type(4) .causes__text {
  br {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
    }
  }
}

/*

.causes__item--big-box {
  background-image: url("../../img/city.jpg");
  background-repeat: no-repeat;
  background-position: bottom 260px left;
}

.causes__item--medium-box {
  background-image: url("../../img/bridge-rock.jpg");
  padding-bottom: 260px;
  background-repeat: no-repeat;
  background-position: bottom 0px left;
}

*/

.causes__item {
  display: grid;
  align-content: baseline;
  background-color: $gray-100;
  padding-top: 26px;
  padding-bottom: 25px;
  padding-left: 35px;
  padding-right: 35px;
  min-height: 167px;
  counter-increment: causes;

  @media (max-width: $mobile-width-only) {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      height: 1px;
      background-color: $gray-600;
      bottom: 0;
      right: 20px;
      left: 20px;
    }

    &:last-of-type::after {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    min-height: 256px;
    width: 200px;
    flex-grow: 1;
    padding-top: 43px;
    padding-bottom: 41px;
  }

  &::before {
    text-align: center;
    color: $black-100;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    content: "— №" counter(causes) "—";
  }

  &:nth-of-type(1),
  &:nth-of-type(2) {
    background-color: $white-100;
    padding: 0;

    &::before,
    &::after {
      display: none;
    }

    @media (min-width: $tablet-width) {
      height: min-content;
      width: 100%;
      flex-grow: 0;
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  &:nth-of-type(4),
  &:nth-of-type(5) {
    @media (min-width: $tablet-width) {
      padding-left: 52px;
      padding-right: 52px;
    }
  }
}

.causes__recommendations {
  margin: 0;
}
