.causes__slogan {
  text-align: center;
  margin: 33px 25px 30px;

  @media (min-width: $tablet-width) {
    max-width: 520px;
    font-size: 21px;
    line-height: 26px;
    margin: 45px auto 30px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 56px;
  }
}

.causes__desc {
  color: $black-100;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  margin: 0 20px 33px;

  @media (min-width: $tablet-width) {
    max-width: 520px;
    margin: 0 auto 53px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 42px;
  }
}

.causes__list {
  list-style: none;
  counter-reset: causes;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.causes__wrapper {
  @media (min-width: $tablet-width) {
    display: grid;

    &--top {
      grid-template-columns: 1fr 2fr;
    }

    &--bottom {
      grid-template-columns: 2fr 1fr;
    }
  }
}

.causes__inner {
  display: grid;
  color: $white-100;
  background-color: $blue-100;

  &::before {
    text-align: center;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    content: "— №" counter(causes) "—";
  }
}

.causes__inner--top {
  background-image: url("../img/triangle-cause.svg");
  background-repeat: no-repeat;
  background-position: top -21px center;
  padding: 50px 10px 39px;

  @media (min-width: $tablet-width) {
    background-image: none;
    padding: 40px 32px 43px;
  }

  @media (min-width: $desktop-width) {
    padding: 48px 52px 56px;
  }
}

.causes__inner--bottom {
  min-height: 191px;
  padding: 39px 15px 35px;

  @media (min-width: $tablet-width) {
    order: 2;
    padding: 43px 36px 41px;
  }

  @media (min-width: $desktop-width) {
    padding: 51px 73px;
  }
}

.causes__img {
  display: block;
  width: 800px;
  height: 260px;
  background-color: $gray-100;
  object-fit: cover;

  @media (min-width: $tablet-width) {
    min-height: 256px;
    height: 100%;
  }
}

.causes__title {
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  margin: 0 0 12px;
  order: -1;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    width: 155px;
    margin-left: auto;
    margin-right: auto;
  }
}

.causes__text {
  color: $black-100;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  margin: 16px 0 0;

  @media (min-width: $tablet-width) {
    margin-top: 23px;
  }

  &--changed {
    color: $white-100;

    @media (min-width: $desktop-width) {
      margin: 22px 10px 0;
    }
  }
}

.causes__item:nth-of-type(4) .causes__text {
  br {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
    }
  }
}

.causes__item {
  display: grid;
  align-content: baseline;
  background-color: $gray-100;
  padding: 26px 35px 25px;
  counter-increment: causes;

  @media (max-width: $mobile-width-only) {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      height: 1px;
      background-color: $gray-600;
      bottom: 0;
      right: 20px;
      left: 20px;
    }

    &:first-of-type,
    &:nth-of-type(2),
    &:last-of-type {
      &::after {
        display: none;
      }
    }
  }

  @media (min-width: $tablet-width) {
    min-height: 256px;
    width: 200px;
    flex-grow: 1;
    padding-top: 43px;
    padding-bottom: 42px;
  }

  &::before {
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: $black-100;
    content: "— №" counter(causes) "—";
  }

  &:nth-of-type(1),
  &:nth-of-type(2) {
    background-color: $white-100;
    padding: 0;

    &::before {
      display: none;
    }

    @media (min-width: $tablet-width) {
      height: min-content;
      width: 100%;
      flex-grow: 0;
    }
  }

  &:nth-of-type(4),
  &:nth-of-type(5) {
    @media (min-width: $tablet-width) {
      padding-left: 50px;
      padding-right: 50px;
    }
  }
}

.causes__recommendations {
  margin: 0;
}
