.checkbox__label {
  height: 56px;
  padding-left: 85px;

  &::before {
    width: 56px;
    height: 56px;
  }
}

.checkbox__input:checked + .checkbox__label {
  &::after {
    background-image: url("../../img/tick.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}
