.control__label {
  display: flex;
  align-items: center;
  position: relative;
  text-transform: none;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-color: $gray-200;
  }

  &--checkbox {
    min-height: 46px;
    padding-left: 79px;

    &::before {
      width: 46px;
      height: 46px;
    }
  }

  &--radio {
    min-height: 48px;
    padding-left: 78px;

    &::before {
      width: 48px;
      height: 48px;
      border-radius: 50%;
    }

    @media (min-width: $tablet-width) {
      padding-left: 81px;
    }
  }
}

.control__label:hover {
  &::before {
    background-color: $gray-300;
  }
}

.control__label:active {
  &::before {
    background-color: $gray-400;
  }

  &::after {
    opacity: 0.3;
  }
}

.control__input:checked + .control__label {
  &::after {
    content: "";
    position: absolute;
  }
}

.control__input--checkbox:checked + .control__label {
  &::after {
    background-image: url("../img/tick.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 23px;
    height: 17px;
    left: 12px;
    top: 16px;
  }
}

.control__input--radio:checked + .control__label {
  &::after {
    background-color: $black-100;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    left: 15px;
    top: 15px;
  }
}

.control__input:focus-visible + label::before {
  outline: 2px solid $black-200;
  outline-offset: -2px;
}
