.copyright__text {
  max-width: 150px;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: $black-200;
  text-align: center;
  margin: 0;
  margin-right: 12px;

  @media (min-width: $tablet-width) {
    text-align: right;
  }
}

.copyright__link {
  display: flex;
  align-items: center;
  min-height: 35px;
  fill: $black-200;

  &:hover {
    fill: $blue-100;
  }

  &:active {
    fill: $black-200;
    fill-opacity: 0.3;
  }

  &:focus-visible {
    outline: 2px solid $black-200;
    outline-offset: 5px;
  }
}

.copyright__logo {
  width: 27px;
  height: 35px;
}
