.copyright__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: $black-200;
  margin: 0;
  padding: 0;
  margin-right: 10px;
}

.copyright__link {
  display: flex;
  align-items: center;
  height: 35px;

  &:hover path {
    fill: $blue-100;
  }

  &:active path {
    fill: $black-200;
    opacity: 0.3;
  }
}
