.description__title {
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  margin: 0 14px 28px;

  &--catalog {
    margin-top: 25px;
  }

  &--form {
    margin-top: 36px;
  }

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 26px;
    max-width: 500px;
    margin: 0 auto 33px;

    &--catalog {
      margin-top: 59px;
    }

    &--form {
      margin-top: 62px;
    }
  }

  @media (min-width: $desktop-width) {
    &--catalog {
      margin-top: 100px;
    }

    &--form {
      margin-top: 112px;
    }
  }
}

.description__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: $black-100;
  text-align: center;
  padding: 0;
  margin-left: 14px;
  margin-right: 14px;

  br {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
    }
  }

  &--catalog {
    margin-left: 17px;
    margin-bottom: 38px;
  }

  &--form {
    margin-bottom: 16px;
  }

  @media (min-width: $tablet-width) {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;

    &--catalog {
      margin-bottom: 82px;
    }

    &--form {
        margin-bottom: 87px;
    }
  }

  @media (min-width: $desktop-width) {
    &--catalog {
      margin-bottom: 80px;
    }

    &--form {
      margin-bottom: 59px;
    }
  }
}
