.field__input {
  font: inherit;
  color: $black-200;
  text-transform: none;
  width: 100%;
  outline: none;
  border: none;
  background-color: $gray-200;
  padding: 18px 21px 14px;

  &::placeholder {
    color: $black-200;
    opacity: 1;
  }

  &:hover {
    background-color: $gray-300;
  }

  &:focus {
    background-color: transparent;
    outline: 4px solid $gray-300;
    outline-offset: -4px;
  }

  @media (min-width: $desktop-width) {
    &--email,
    &--tel {
      width: 258px;
    }
  }
}

.field__label {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: $black-100;
  display: inline-block;
  margin-right: 15px;
  margin-top: 3px;

  &--patronymic {
    margin-right: 17px;
  }

  &--tel {
    margin-bottom: 9px;

    &::before {
      background-image: url("../img/icon-phone.svg");
    }

    @media (min-width: $desktop-width) {
      margin-right: 15px;
    }
  }

  &--email {
    margin-bottom: 6px;

    &::before {
      background-image: url("../img/icon-letter.svg");
    }

    @media (min-width: $desktop-width) {
      margin-right: 18px;
    }
  }

  &--tel,
  &--email {
    margin-left: 21px;
    margin-top: 0;

    &::before {
      content: "";
      position: absolute;
      width: 58px;
      height: 58px;
      background-color: $gray-250;
      background-repeat: no-repeat;
      background-position: center;
      right: 0;
      bottom: 0;
    }

    @media (min-width: $desktop-width) {
      margin-top: 3px;
      margin-left: 0;
      margin-bottom: 0;
    }
  }
}
