.feedback-group__textarea {
  display: block;
  margin-top: 15px;
  padding: 13px 17px 29px 20px;
  height: 160px;
  resize: none;

  @media (min-width: $tablet-width) {
    margin-top: 54px;
    padding-top: 18px;
  }
}
