.contacts-group {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;
  }
}

.contacts-group__item {
  width: 280px;
  position: relative;
  margin-bottom: 14px;
  padding-right: 58px;

  &:last-of-type {
    margin-bottom: 28px;

    @media (min-width: $desktop-width) {
      margin-bottom: 0;
    }
  }

  @media (min-width: $tablet-width) {
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    width: 415px;
    display: flex;
    align-items: end;
    margin-bottom: 0;
  }
}
