.attractions-group {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 62px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 204px);
    gap: 20px 48px;
  }
}

.attractions-group__item {
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    margin-bottom: 33px;

    &:nth-of-type(odd) {
      margin-left: 96px;
    }

    &:nth-of-type(even) {
      margin-right: 60px;
    }
  }

  @media (min-width: $desktop-width) {
    &:nth-of-type(odd),
    &:nth-of-type(even) {
      margin-right: 0;
      margin-left: 0;
    }

    &:nth-of-type(3),
    &:nth-of-type(7),
    &:nth-of-type(11) {
      margin-left: 13px;
    }
  }

  &:first-of-type {
    margin-top: 21px;

    @media (min-width: $tablet-width) {
      margin-top: 0;
    }
  }
}
