.form-review {
  border-top: 2px solid $gray-200;
  padding: 20px 0 38px 0;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 60px 61px 60px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    padding: 0 120px 66px 120px;
  }
}

.form-review__group {
  border: none;
  border-bottom: 1px solid $gray-200;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;

  &:last-of-type {
    margin-bottom: 44px;
    border: none;

    @media (min-width: $tablet-width) {
      margin-bottom: 51px;
    }
  }

  @media (min-width: $tablet-width) {
    border: none;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  &--login {
    @media (min-width: $tablet-width) {
      grid-column: 2/3;
      grid-row: 1/2;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        width: 1px;
        background-color: $gray-450;
        left: -1px;
        top: -26px;
        bottom: 0;

        @media (min-width: $desktop-width) {
          left: 0;
        }
      }
    }
  }

  &--contacts {
    @media (min-width: $tablet-width) {
      grid-column: 1/-1;
      margin-top: 73px;
    }

    @media (min-width: $desktop-width) {
      margin-top: 71px;
    }
  }

  &--impression {
    margin-bottom: 15px;

    @media (min-width: $tablet-width) {
      grid-column: 1/2;
      grid-row: 1/2;
      margin-bottom: 0;
    }
  }

  &--attractions {
    @media (min-width: $tablet-width) {
      grid-column: 1/-1;
      margin-top: 52px;
    }

    @media (min-width: $desktop-width) {
      margin-top: 27px;
    }
  }

  &--feedback {
    @media (min-width: $tablet-width) {
      grid-column: 1/-1;
      margin-top: 38px;
    }

    @media (min-width: $desktop-width) {
      margin-top: 36px;
    }
  }
}

.form-review__title {
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    line-height: 26px;
  }

  &--login,
  &--impression {
    @media (min-width: $tablet-width) {
      text-align: left;
    }
  }

  &--impression {
    @media (min-width: $desktop-width) {
      text-align: center;
    }
  }

  &--attractions {
    @media (min-width: $tablet-width) {
      margin-bottom: 44px;
    }
  }

  &--contacts {
    @media (min-width: $desktop-width) {
      margin-bottom: 71px;
    }
  }

  &--contacts,
  &--attractions,
  &--feedback {
    @media (min-width: $tablet-width) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      &::before,
      &::after {
        content: "";
        height: 1px;
        flex-grow: 1;
        background-color: $gray-450;
      }

      &::before {
        margin-right: 62px;
      }

      &::after {
        margin-left: 62px;
      }
    }
  }

  &--contacts,
  &--feedback {
    @media (min-width: $tablet-width) {
      &::before,
      &::after {
        margin-bottom: 7px;
      }
    }
  }

  &--feedback {
    @media (min-width: $tablet-width) {
      &::before {
        margin-right: 76px;
      }

      &::after {
        margin-left: 76px;
      }
    }
  }
}

.form-review__button {
  padding: 19px 33px 13px 30px;
  width: calc(100% - 40px);
  margin-left: 20px;
  margin-right: 20px;

  @media (min-width: $tablet-width) {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 22px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 21px;
  }
}

.form-review__prompt {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  text-align: right;
  align-self: center;
  color: $black-100;
  margin-left: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    margin-top: 6px;
  }
}
