.attractions-group {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 200px;
  }
}

.attractions-group__item {
  margin-bottom: 24px;

  &:first-of-type {
    margin-top: 20px;

    @media (min-width: $tablet-width) {
      margin-top: 0;
    }
  }

  &:last-of-type {
    margin-bottom: 25px;
  }
}
