.gallery-range {
  width: 100%;
  background-color: transparent;
  appearance: none;
  cursor: pointer;
}

.gallery-range::-webkit-slider-runnable-track {
  background-color: rgba($white-100, 0.2);
  height: 3px;
}

.gallery-range::-webkit-slider-thumb {
  margin-top: -3px;
  width: 9px;
  height: 9px;
  background-color: $white-100;
  border-radius: 50px;
  appearance: none;
}
