.logo {
  display: inline-block;

  @media (min-width: $tablet-width) {
    z-index: 1;
  }
}

.logo__img {
  display: block;
  background-color: transparent;
  width: 102px;
  height: 84px;

  @media (min-width: $desktop-width) {
    width: 187px;
    height: 97px;
  }
}
