.map {
  height: 350px;
  width: 100%;
  background-image: url("../img/map.png");
  background-color: $gray-100;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 1200px 350px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/map@2x.png");
  }
}

.map__iframe {
  width: 100%;
  border: none;
  height: 350px;
}
