.map {
  height: 350px;
  width: 100%;
  background: url("../img/map.png") no-repeat top center;
  background-color: $gray-100;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/map@2x.png");
  }
}

.map__iframe {
  width: 100%;
  border: none;
  height: 350px;
}
