.page-main__video-gallery {
  margin: 32px auto 49px auto;

  @media (min-width: $tablet-width) {
    margin-top: 58px;
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 63px;
    margin-bottom: 85px;
  }
}
