.popup {
  width: 320px;
  position: fixed;
  background-color: $white-100;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}

.popup--mistake {
  padding: 40px 41px 35px 41px;

  br {
    display: none;
  }

  @media (min-width: $tablet-width) {
    width: 400px;
    padding: 50px 47px 49px 47px;

    br {
      display: block;
    }
  }
}

.popup--success {
  padding-top: 38px;

  @media (min-width: $tablet-width) {
    width: 640px;
    padding-top: 46px;
  }
}

.popup__title {
  margin: 0;
  padding: 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 40px;
  }

  &--success {
    margin-bottom: 25px;
    margin-left: 35px;
    margin-right: 35px;

    @media (min-width: $tablet-width) {
      margin-left: 98px;
      margin-right: 98px;
    }
  }

  &--mistake {
    margin-bottom: 26px;

    @media (min-width: $tablet-width) {
      margin-bottom: 24px;
    }
  }
}

.popup__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: $black-100;
  text-align: center;
  margin: 0;
  padding: 0;

  &--mistake {
    margin-bottom: 23px;

    @media (min-width: $tablet-width) {
      margin-bottom: 38px;
    }
  }

  &--success {
    margin-bottom: 40px;
    margin-left: 37px;
    margin-right: 39px;

    @media (min-width: $tablet-width) {
      margin-bottom: 42px;
      margin-left: 98px;
      margin-right: 98px;
    }
  }
}

.popup__inner--success {
  padding: 20px;
  background-color: $gray-200;

  @media (min-width: $tablet-width) {
    padding: 44px 91px;
  }
}

.popup__button {
  font-size: 18px;
  line-height: 26px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    line-height: 26px;
  }

  &--success {
    padding: 18px 20px 14px 20px;
    width: 100%;

    @media (min-width: $tablet-width) {
      width: 458px;
    }
  }

  &--mistake {
    padding: 18px 24px 14px 24px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 180px;

    @media (min-width: $tablet-width) {
      width: 272px;
    }
  }
}
