.recommendations {
  padding: 0;
  padding-top: 35px;
  padding-bottom: 35px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    min-height: 330px;
    padding-top: 37px;
    padding-bottom: 59px;
    align-items: baseline;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 80px;
  }
}

.recommendations__item {
  margin-bottom: 26px;
  padding-left: 70px;
  padding-right: 11px;
  position: relative;
  text-align: left;

  @media (min-width: $tablet-width) {
    width: 230px;
    flex-grow: 1;
    text-align: center;
    margin-bottom: 0;
    padding: 0;
    padding-top: 101px;
    padding-left: 32px;
    padding-right: 32px;
    margin-top: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 40px;
    padding-left: 40px;
  }

  &:last-of-type {
    margin-bottom: 0;
    margin-right: 40px;

    @media (min-width: $tablet-width) {
      margin-right: 0;
    }
  }

  &:nth-of-type(2) {
    order: 1;
  }

  &::before {
    content: "";
    position: absolute;
    width: 45px;
    height: 45px;
    top: -12px;
    left: 17px;
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      margin-left: auto;
      margin-right: auto;
      top: 0;
      right: 0;
      left: 0;
      width: 80px;
      height: 75px;
      background-size: contain;
      background-position: center;
    }
  }

  &--house {
    &::before {
      background-image: url("../img/icon-house.svg");
      background-position: left 4px top 3px;

      @media (min-width: $tablet-width) {
        background-position: left 2px top 3px;
        background-size: 75px 72px;
      }

      @media (min-width: $desktop-width) {
        background-position: left 1px top 2px;
        background-size: 75px 73px;
      }
    }

    br {
      display: none;

      @media (min-width: $desktop-width) {
        display: block;
      }
    }
  }

  &--souvenirs {
    &::before {
      background-image: url("../img/icon-gift.svg");
      background-position: left 8px top 1px;

      @media (min-width: $tablet-width) {
        background-position: left 7px top 0;
        background-size: 64px 75px;
      }

      @media (min-width: $desktop-width) {
        background-position: left 7px top 0;
        background-size: 63px 75px;
      }
    }

    br {
      display: none;

      @media (min-width: $desktop-width) {
        display: block;
      }
    }
  }

  &--food {
    &::before {
      background-image: url("../img/icon-burger.svg");
      background-position: top 7px left 1px;

      @media (min-width: $tablet-width) {
        background-position: left 1px top 6px;
        background-size: 76px 68px;
      }

      @media (min-width: $desktop-width) {
        background-position: left 1px top 6px;
        background-size: 76px 69px;
      }
    }

    br {
      display: none;

      @media (min-width: $tablet-width) {
        display: block;
      }
    }
  }
}

.recommendations__term {
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    line-height: 26px;
  }
}

.recommendations__desc {
  color: $black-100;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  margin: 0;

  @media (min-width: $tablet-width) {
    margin-top: 23px;
  }
}
