.socials {
  display: flex;
  flex-wrap: wrap;
  max-width: 220px;
  list-style: none;
  padding: 0;
}

.socials__item {
  margin: 0 3px 6px;
}

.socials__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 47px;
  height: 48px;
  background-color: $blue-100;

  &::before {
    content: "";
    width: 20px;
    height: 18px;
    background-repeat: no-repeat;
    background-position: center;
  }

  &:hover {
    background-color: $blue-200;
  }

  &:active {
    background-color: $blue-300;

    &::before {
      opacity: 0.3;
    }
  }

  &--twitter::before {
    background-image: url("../img/icon-twitter.svg");
  }

  &--facebook::before {
    background-image: url("../img/icon-facebook.svg");
  }

  &--youtube::before {
    background-image: url("../img/icon-youtube.svg");
  }
}
