.video-gallery {
  @media (min-width: $tablet-width) {
    max-width: 920px;
    padding-left: 60px;
    padding-right: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    padding-right: 0;
    width: 800px;
  }
}

.video-gallery__img {
  min-height: 201px;
  width: 100%;
  display: block;
  background-color: $gray-100;
  object-fit: cover;

  @media (min-width: $tablet-width) {
    height: 500px;
    max-width: 800px;
  }
}

.video-gallery__subtitle {
  text-align: center;
  margin: 0 26px 28px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 26px;
    margin-bottom: 33px;
  }
}

.video-gallery__text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  color: $black-100;
  margin: 0 26px 33px;

  br {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 79px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 78px;
  }
}

.video-gallery__panel {
  @media (min-width: $tablet-width) {
    position: relative;
    height: 93px;
    margin-top: -93px;
  }
}
