.video-gallery {
  @media (min-width: $tablet-width) {
    padding-right: 60px;
    padding-left: 60px;
    max-width: 920px;
  }

  @media (min-width: $desktop-width) {
    max-width: 800px;
    padding-left: 0;
    padding-right: 0;
  }
}

.video-gallery__video {
  width: 100%;
  display: block;
  height: min-content;
}

.video-gallery__subtitle {
  text-align: center;
  margin: 0 26px 20px 26px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 26px;
  }
}

.video-gallery__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: $black-100;
  margin: 0 26px 33px 26px;

  br {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 67px;
  }
}

.video-gallery__panel {
  @media (min-width: $tablet-width) {
    position: relative;
    height: 93px;
    margin-top: -93px;
  }
}

/**
.video-gallery__scale {
  height: 3px;
  background-color: $white-100;
  opacity: 0.2;
  position: absolute;
  top: 22px;
  left: 22px;
  right: 22px;

  @media (min-width: $tablet-width) {
    top: 45px;
    left: 93px;
    right: 166px;
  }
}

.video-gallery__slider {
  width: 13px;
  height: 13px;
  background-color: $white-100;
  border-radius: 50%;
  position: absolute;
  top: 17px;
  left: 56px;

  @media (min-width: $tablet-width) {
    top: 40px;
    left: 204px;
  }
}

**/
