// Colors

$white-100: #ffffff;
$black-100: #333333;
$black-200: #000000;
$blue-100: #81b3d2;
$blue-200: #669ec0;
$blue-300: #5496bd;
$gray-100: #eeeeee;
$gray-200: #f2f2f2;
$gray-250: #e6e6e6;
$gray-300: #e5e5e5;
$gray-350: #eaeaea;
$gray-400: #d5d5d5;
$gray-450: #dbdbdb;
$gray-500: #e7e5e5;
$gray-600: #d6d6d6;
$gray-650: #5c6870;
$brown-100: #766357;
$brown-200: #604e43;
$orangered: orangered;


//Viewports
$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1200px;
